<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/all.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

</head>
<body>
    <header>
        <div class="nav">
            <div class="logodiv"><img src="img/logo.png" class="logo"></div>
            <div class="menu">
                <ul>
                    <li><a href="/" class="m-button">Home</a></li>
                    <li><a href="/meals" class="m-button">Our Packages</a></li>
                    <li><a href="/log-in" class="m-button">Log In</a></li>
                    <li><a href="/register" class="m-button">Sign Up</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </header>

    <main>
        {{{body}}}
    </main>
    
    <footer>
        <hr>
        <div class="f-help">
            <p class="footer-title">Help &amp; Support</p>
            <ul>
                <li><a href="" class="footer-i">FAQs</a></li>
                <li><a href="" class="footer-i">Terms &amp; Conditions</a></li>
                <li><a href="" class="footer-i">Contect Us</a></li>
            </ul>
        </div>

        <div class="f-menu">
            <p class="footer-title">Categories</p>
            <ul>
                <li><a href="/meals" class="footer-i">Meal Packages</a></li>
                <li><a href="" class="footer-i">Subway Food</a></li>  
                <li><a href="" class="footer-i">Burrito Food</a></li>  
                <li><a href="" class="footer-i">Taco Bell Food</a></li> 
                <li><a href="" class="footer-i">KFC Food</a></li>  
            </ul>
        </div> 


        <div class="f-support">
            <p class="footer-title">Support Us</p>
            <ul>
                {{!-- <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-facebook-square"></i></li>
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-youtube"></i></li> --}}
                <li><a href="" class="footer-i">Twitter</a></li>
                <li><a href="" class="footer-i">Facebook</a></li>
                <li><a href="" class="footer-i">Instagram</a></li>
                <li><a href="" class="footer-i">YouTube</a></li>
            </ul>

        </div>

        <div class="copyright">
            <hr class="hr">
            <p class="cpy">Made by Parth Patel with hunger. All rights resirved.</p>
        </div>
    </footer>
</body>
</html>