<div class="contentbox">
    <div class="login-name">
            <form action="/logout" method="GET">
                <p>{{data.f_name}} {{data.l_name}} 
                <button id="input" type="submit" class="logoutbtn">Log Out</button>
                <br>
                {{data.email}}
                </p>
            </form>
        </div>

        <div id="section-title" class="meal-title">Edit posted meal</div>


</div>