<div class="dashboard">You are on employee dashboard</div>

<div >
    <div>
        <p>Logged in as:</p>
        <div>{{data.f_name}}</div>
        <div>{{data.l_name}}</div>
        <div>{{data.email}}</div>
    </div>
    <img height="30%" width="30%" src="https://static.scientificamerican.com/sciam/cache/file/00A865C6-9F1F-4412-A9CA2FC329C15F36_source.jpg" alt="secret image">
</div>

<form action="/logout" method="GET">
<input id="input" type="submit" class="login-button" value="Log Out">
</form>