<div class="log-in-hero">
    <div class="log-in-hero-caption">Log In </div>
</div>

<hr>

<div class="login-container">
    <img src="/img/user.png" alt="user" class="user">

    <h1 class="login-title">Login Here</h1>

   

    <form id="form" action="/log-in" method="POST">
        <p class="t">Username</p>
         {{#each errorMessages}}
    <div class="errorMessage">{{this.u_error}}</div>
    {{/each}}
        {{!-- <span class="error"><p id="userId_error">Error</p></span> --}}
        <input id="input" type="text" class="inputbox" id="username" name="username" placeholder="Enter Username">
        
        <p class="t">Password</p>
        {{#each errorMessages}}
    <div class="errorMessage">{{this.p_error}}</div>
    {{/each}}
        {{!-- <span class="error"><p id="password_error">Error</p></span> --}}
        <input id="input" type="password" class="inputbox" name="password" id="password" placeholder="Password">                
        
        <input type="checkbox" class="radio" id="emp_radio" name="employee">
        <label class="t" for="emp_radio">Employee Login</label>
        
        <br>
        <br>
        <div class="errorMessage">{{loginError}}</div>
        <br>
        <input id="input" type="submit" class="login-button" value="Login">
        <a href="/register">Don't have an account?</a>
    </form>
</div>

