<div class="meal-package-hero">
    <div class="meal-package-hero-caption">Get started Here</div>
</div>

<hr>

<div class="signup-container">
    <img src="/img/user.png" alt="user" class="user">

    <h1 class="signup-title">Signup Here</h1>
    <form action="">
        <p class="t">First Name</p>
        <input type="text" class="inputbox" placeholder="First Name">
        <p class="t">Last Name</p>
        <input type="text" class="inputbox" placeholder="Last Name">
        <p class="t">Email</p>
        <input type="text" class="inputbox" placeholder="Enter Email">
        <p class="t">Password</p>
        <input type="password" class="inputbox" placeholder="Password">
        <input type="submit" class="signup-button" value="Sign Me Up">
    </form>
</div>